name: TestCafeCI

on: [push]

jobs:
  build:
    name: Run Tests Operating Systems
    runs-on: ubuntu-latest
    container:
      image: dipjyotimetia/testcafetest
    strategy:
      matrix:
        node: [12.x]
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/checkout@v1
      - run: npm ci
      - run: npm test
        env:
          CI: true
      - name: Upload Test results
        uses: actions/upload-artifact@v2
        with:
          name: Test-report
          path: reports/reports.html
